{% extends 'base.html' %}
{% load static  %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block content %}
<h2>Courses</h2>
<div class="course-list">
    {% for course in courses %}
    <div class="course-card">
        <img src="{{ course.thumbnail.url }}" alt="{{ course.title }}">
        <h3>
            <a href="{% url 'course_detail' course.pk %}">
                {{ course.title }}
            </a>
        </h3>
        <p>{{ course.description|truncatewords:20 }}</p>
        <p>Price: ${{ course.price }}</p>
        {% if not course.is_paid %}
        <a href="{% url 'course_detail' course.pk %}">Pay Now</a>
        {% else %}
        <p>Paid</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
